/* UiKit/src/assets/colors.css */
:root {
  /* Palette */
  --color-red: #ff4d4f;
  --color-green: #52c41a;
  --color-orange: #faad14;

  --color-white: #ffffff;

  --color-gray-10: #f8f9fa;
  --color-gray-20: #e9ecef;
  --color-gray-30: #dee2e6;
  --color-gray-40: #ced4da;
  --color-gray-50: #adb5bd;
  --color-gray-60: #868e96;
  --color-gray-70: #495057;
  --color-gray-80: #343a40;
  --color-gray-90: #212529;

  --color-black: #000000;

  /* Functions */
  --color-accent: var(--color-red);
  --color-success: var(--color-green);
  --color-warning: var(--color-orange);
  --color-danger: var(--color-red);
}
