/* UiKit/src/assets/colors.css */
:root {
  --ui-color-red: #ff4d4f;
  /* Базовые цвета */
  --ui-color-white: #ffffff;

  /* СВЕТЛЫЕ (Фоны, треки свитчей, неактивные заливки) */
  --ui-color-gray-10: #f8f9fa; /* Почти белый, для подложек */
  --ui-color-gray-20: #e9ecef; /* Фон disabled кнопок */
  --ui-color-gray-30: #dee2e6; /* Тонкие границы (borders) */

  /* СРЕДНИЕ (Иконки, плейсхолдеры, неактивный текст) */
  --ui-color-gray-40: #ced4da; /* Деактивированные иконки */
  --ui-color-gray-50: #adb5bd; /* Текст disabled кнопок (виден на gray-20) */
  --ui-color-gray-60: #868e96; /* Вторичный текст, подписи */

  /* ТЕМНЫЕ (Твой диапазон, заголовки, основной текст) */
  --ui-color-gray-70: #495057; /* Основной текст (мягкий) */
  --ui-color-gray-80: #343a40; /* Темный текст (строгий) */
  --ui-color-gray-90: #212529; /* Почти черный (акценты) */

  /* Системный черный для редких случаев */
  --ui-color-black: #000000;

  --ui-accent-color: var(--ui-color-red);
  --ui-inactive-bg-color: var(--ui-color-gray-80);
  --ui-inactive-text-color: var(--ui-color-gray-60);

  /* 3. Статусные цвета */
  --ui-color-success: #52c41a;
  --ui-color-warning: #faad14;

  /* Danger ссылается на акцент */
  --ui-color-danger: var(--ui-accent-color);
}
