.flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.grid {
  display: grid;
}

.w-fit {
  width: fit-content;
}

.g-4 {
  gap: 4px;
}

.g-8 {
  gap: 8px;
}

.g-16 {
  gap: 16px;
}

.c-pointer {
  cursor: pointer;
}
.c-deny {
  cursor: not-allowed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

.sticky {
  position: sticky;
}
